@model ShoppingCart.Web.ViewModels.Product.ProductViewModel;
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf;
@{
    ViewData["Title"] = Model.Title;
    string baseUrl = BaseUrl.GetBaseUrl(Context);
    string priceClass = Model.SalesPrice != 0 ? "cancelled-price" : "price";
}
@functions {
    private string ActiveSlideClass(int index) => index == 0 ? "active" : "";
    private string ActiveImageAttribute(int index) => index == 0 ? "active" : "";
    public string getXsrf()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<div class="col-12">
    <div class="row">
        <div class="col-lg-6">
            <div id="gallery" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-indicators">
                    @for (int i = 0; i < Model.Gallery.Count(); i++)
                    {
                        <button type="button" data-bs-target="#gallery" data-bs-slide-to="@i" class="@ActiveSlideClass(i)"
                        aria-current="true" aria-label="Slide 1"></button>
                    }
                </div>
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Gallery.Count(); i++)
                    {
                        <div class="carousel-item @ActiveImageAttribute(@i) box">
                            <img src="@baseUrl@Model.Gallery[i]" class="d-block rounded inner" alt="@Model.Title" />
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#gallery" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#gallery" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-lg-6 mt-4">
            <h1>@Model.Title</h1>
            <a id="ratings" href="#nav-reviews">
                <h6>@Model.Rating / 5 (@Model.NumberOfReview)</h6>
            </a>
            <span class="@priceClass"><span>@Model.Price</span> <span>$</span></span>
            @if (Model.SalesPrice != 0)
            {
                <span class="sales-price"><span>@Model.SalesPrice</span> <span>$</span></span>
            }
            <hr />
            <div class="row ">
                <div class="qty d-inline col-3 align-self-center" style="min-width:140px ;">
                    <span class="minus bg-dark">-</span>
                    <input type="number" class="count" id="qty" value="1">
                    <span class="plus bg-dark">+</span>
                </div>
                <div class="d-inline col-3 ">
                    TODO: Check If the product quantity = 0 to disable the button
                    <button id="add-to-cart" type="button" class="btn btn-warning add-to-cart">Add To Cart</button>
                </div>
            </div>
        </div>
    </div>
    <nav class="mt-5">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-description-tab" data-bs-toggle="tab"
                data-bs-target="#nav-description" type="button" role="tab" aria-controls="nav-description"
                aria-selected="true">Description</button>
            <button class="nav-link" id="nav-reviews-tab" data-bs-toggle="tab" data-bs-target="#nav-reviews"
                type="button" role="tab" aria-controls="nav-reviews" aria-selected="false">Reviews</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-description" role="tabpanel"
             aria-labelledby="nav-description-tab" tabindex="0">
            <div class="mx-2 mt-2 fs-4">
                
                @foreach (var line in Model.Description)
                {
                    <p>@line</p>
                }
            </div>
        </div>
        <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab" tabindex="0">
            Reviews

        </div>
    </div>
</div>

@section scripts{
    <script>
    $(document).ready(function () {
        $('#qty').prop('disabled', true);
        $(document).on('click', '.plus', function () {
            $('#qty').val(parseInt($('#qty').val()) + 1);
        });
        $(document).on('click', '.minus', function () {
            $('#qty').val(parseInt($('#qty').val()) - 1);
            if ($('#qty').val() == 0) {
                $('#qty').val(1);
            }
        });
        $(document).on('click', '#ratings', function () {
            $('#nav-description-tab').removeClass('active');
            $('#nav-description-tab').attr('aria-selected', "false");
            $('#nav-description-tab').attr('tabindex', -1);
            $('#nav-description').removeClass('active');
            $('#nav-description').removeClass('show');
            $('#nav-reviews-tab').addClass('active');
            $('#nav-reviews-tab').attr('aria-selected', "true");
            $('#nav-reviews').addClass('active');
            $('#nav-reviews').addClass('show');
        });
        $(document).on('click','#add-to-cart',function (){
            let data = {"productId" : "@Model.Id", "quantity" : $('#qty').val()};
               $.ajax({
               type: "POST",
               url: '@Url.ActionLink("AddCartItem", "Cart")',
               data: data,
               dataType: 'text',
               content: 'application/x-www-form-urlencoded; charset=UTF-8',
               headers: {
                    "RequestVerificationToken": "@getXsrf()"
                        },
               success:function(response) {
                 //  write code to show successfully added item
                 console.log(response);
               },
               error:function(err,dd,aa) {
                 //write code to show maximum quantity or redirect to index if the prodect is not in the database
                 console.log(err.responseText);
               }
               })
            });
    });
</script>
}